<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<configSections>
		<sectionGroup name="aristocrat.authentication"
					  type="Aristocrat.Authentication.Configuration.AuthenticationSectionGroup, Aristocrat.Authentication">
			<section name="terminals"
					 type="Aristocrat.Authentication.Configuration.TerminalsSection, Aristocrat.Authentication" />
		</sectionGroup>
	</configSections>

	<aristocrat.authentication>
		<terminals>
			<terminal name="gat3"
					  type="Aristocrat.Authentication.Gat.Gat3, Aristocrat.Authentication"
					  portName="COM1">
				<games>
					<game name="Vertex"
						  version="1.0"
						  manufacturer="Aristocrat Technologies, Inc.">
						<component name="Windows OS"
								   version="1.0"
								   path="C:\"/>
					</game>
				</games>
				<specialFunctions>
					<specialFunction feature="Get File">
						<parameter name="AuthenticationResponse.xml"/>
						<parameter name="%%AristocratSeed1%%"/>
					</specialFunction>
				</specialFunctions>
			</terminal>
		</terminals>
	</aristocrat.authentication>

	<system.diagnostics>
		<sources>
			<source name="Authentication"
					switchName="AuthenticationTraceLevel"
					switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Console"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="AuthenticationTraceLevel"
				 value="Information"/>
			<add name="Remote.Disable"
				 value="1" />
		</switches>
		
		<sharedListeners>
			<add name="Console"
				 type="Aristocrat.Diagnostics.ConsoleLevelTraceListener, Aristocrat.Core"
				 initializeData="false"
				 traceOutputOptions="DateTime"/>
		</sharedListeners>

		<trace autoflush="true"
			   indentsize="0">
			<listeners>
				<add name="Console"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>